<printfriendly-options
  style="display: none"
  data-content-features="disableClickToDel=0;hideImages=1;imageDisplayStyle=right;disablePDF=0;disableEmail=1;disablePrint=0;encodeImages=0;showHiddenContent=0;"
></printfriendly-options>
<script>
  var pfBtVersion = "3"
  ;(function () {
    var js, pf
    pf = document.createElement("script")
    pf.type = "text/javascript"
    pf.src = "//cdn.printfriendly.com/printfriendly.js"
    document.getElementsByTagName("head")[0].appendChild(pf)
  })()
</script>
<a
  href="https://www.printfriendly.com"
  style="color:rgb(0, 0, 0); text-decoration: none"
  class="printfriendly"
  onclick="window.print();return false;"
  title="PDF"
  ><img
    style="border: none; -webkit-box-shadow: none; box-shadow: none"
    src="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download"
    alt="PDF"
/></a>
